<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Our Courses</title>
    
    <% include ./partials/headTeacher.ejs %>

    </head>

<body class="container">
    <header>
        <% include ./partials/headerTeacher.ejs %>
    </header>
    <ul>
        <% for(var i=0; i<courses.length; i++) {%>
            <li>
                <%=courses[i].id %>
            </li>
            <li>
                <%=courses[i].teacher %>
            </li>
            <li>
                <%=courses[i].courseInfo.name %>
            </li>
            <li>
                <%=courses[i].courseInfo.subject %>
            </li>
            <li>
                <%=courses[i].courseInfo.description %>
            </li>
            <a href="/zapisz/<%= courses[i].id %>">Zapisz mnie na ten kurs!</a>
            <br>
            <% } %>
    </ul>
    <a href="/profile">Back to profile</a>
    <footer>
      

       
        <% include ./partials/footer.ejs %>
    </footer>
   
</body>

</html>