<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Our Courses</title>
  <% include ./partials/headStudent.ejs %>   
</head>
<body class="container">
<header>
      <% include ./partials/headerStudent.ejs %> 
    </header>
   <ul>
<% for(var i=0; i<courses.length; i++) {%>
   <li><%=  courses[i].id %></li>
   <li><%= courses[i].teacher %></li>
   <li><%= courses[i].courseInfo.courseName %></li>
   <li><%= courses[i].courseInfo.Subject %></li>
   <li><%= courses[i].courseInfo.courseDescription %></li>
   <br>
<% } %>
</ul>
<a href="/">Back to profile</a>
    <footer>
        <% include ./partials/footer.ejs %>   
    </footer>
</body>
</html>