<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Nasze kursy</title>

    <% include ./partials/headStudent.ejs %>
        <link href="../css/courseJumbtron.css" rel="stylesheet" type="text/css" />
</head>

<body class="container">
    <header>
        <% include ./partials/headerStudent.ejs %>
    </header>
    <h1>Dostępne kursy :</h1>

    <% for(var i=0; i<courses.length; i++) {%>
        
        <div class="jumbotron">
            <div class="for"> 
                <br>
                Email:<%=courses[i].teacher %>
                    <br>
                    Kurs:<%=courses[i].courseInfo.name %>
                        <br>
                        Przedmiot:<%=courses[i].courseInfo.subject %>
                            <br>
                Telefon:<%=courses[i].courseInfo.phone %>
                <br>
                            Opis:<%=courses[i].courseInfo.description %>
                                <br>
                                Cena za godzine:<%=courses[i].courseInfo.costPerHour %>
                                    <br>
                                    Szkola:<%=courses[i].level %>
                                        <br>
                                        <a href="/zapisz/<%= courses[i].id %>">Zapisz mnie na ten kurs!</a>
                                        <br>
            </div>
             </div>
        <% } %>
            </div>
           
            <footer>



                <% include ./partials/footer.ejs %>
            </footer>

</body>

</html>