<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>my courses</title>

    <% include ./partials/headTeacher.ejs %>

</head>

<body class="container">


<header>
    <% include ./partials/headerTeacher.ejs %>
</header>
<ul>
<% for(var j = 0; j < studentsToJoin.length; j++) { %>
<% if(j == 0) { %>
Użytkownicy, którzy chcą dołączyć do twojego kursu:
<% } %>
<li><%= studentsToJoin[j].email %> do kursu <%=studentsToJoin[j].name %> <a href="/zaakceptuj/<%= studentsToJoin[j].email %>/<%= studentsToJoin[j].id %>">Zaakceptuj</a> <a href="/odrzuc/<%= studentsToJoin[j].email %>/<%= studentsToJoin[j].id %>">Odrzuć</a></li>
<% } %>
</ul>
<ul>
    <% for(var i = 0; i < courses.length; i++) { %>
    <li>
        <%= courses[i].id %>
    </li>
    <li>
        <%= courses[i].teacher %>
    </li>
    <li>
        <%= courses[i].courseInfo.name %>
    </li>
    <li>
        <%= courses[i].courseInfo.subject %>
    </li>
    <li>
        <%= courses[i].courseInfo.description %>
    </li>
    <li>
        <%= courses[i].courseInfo.costPerHour %>
    </li>
    <li>
        <ul>
            <% for(var j = 0; j < courses[i].files.length; j++) { %>
                <li><a href="<%= courses[i].files[j].url %>"><%= courses[i].files[j].name %></a></li>
            <%}%>
        </ul>
    </li>
    <li>
        <%= courses[i].level %>
    </li>

    <br>

    <form action="/autenticate" method="post" id="autenticator">
        <label id="lbl" name="lbl" style="display:none;">Potwierdź Hasłem :</label>
        <% if(message.length > 0){ %>
        <p>
            <%= message %>
        </p>
        <% } %>
        <input type="password" id="pwd" name="pwd" style="display:none;">
        <input type="text" name="courseId" value="<%= courses[i].id %>" style="display:none;" readonly>
        <button type="submit">Usuń Ten Kurs</button>
    </form>
    <br><br><br>

    <form action="/dodaj" method="post">
       <label>Tytuł Informacji</label>
        <input type="text" name="newsTittle">
        <label>Wiadomość</label>
        <textarea name="newInfo" id="newInfo" cols="30" rows="10"></textarea>
        <input type="text" name="courseId" value="<%= courses[i].id %>" style="display:none;" readonly>
        <button type="submit">Wyślij do uczniów</button>
    </form>
    <br/>

    <form action="/addFile" method="post" id="uploader" enctype="multipart/form-data">
        <input type="text" name="courseId" value="<%= courses[i].id %>" style="display:none;" readonly>
        <p id="problem"></p>
        <input type="file" id="upload" name="fileUploader"/>
        <button type="submit">Dodaj Plik Do Kursu</button>
    </form>
    <% } %>

</ul>


<a href="/profile">back to profile</a>
<footer>
    <% include ./partials/footer.ejs %>
</footer>
</body>

<script src="/js/jquery.min.js"></script>
<script src="../scripts/details.js"></script>

</html>