<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Your Courses</title>
    <% include ./partials/headStudent.ejs %>
        <link href="../css/courseJumbtron.css" rel="stylesheet" type="text/css" />
</head>

<body class="container">
    <header>
        <% include ./partials/headerStudent.ejs %>
    </header>
    <h1><%= data %></h1>
    <ul>
        <% for(var i=0; i<courses.length; i++) {%>
            <div class="jumbotron">

                <br>
                <%=courses[i].teacher %>
                    <br>
                    <%=courses[i].courseInfo.name %>
                        <br>
                        <%=courses[i].courseInfo.subject %>
                            <br>
                            <%=courses[i].courseInfo.description %>
                                <br>
                                <%=courses[i].courseInfo.costPerHour %>
                                    <br>
                                    <%=courses[i].level %>
                                        <br>
                                        <a href="/wypisz/<%= courses[i].id %>">Wypisz mnie z tego kursu!</a>
                                        <br>
            </div>
            <% } %>
    </ul>
    <a href="/profile">Back to profile</a>
    <footer>
        <% include ./partials/footer.ejs %>
    </footer>
</body>

</html>