<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>my courses</title>
   
    <% include ./partials/headTeacher.ejs %>

</head>

<body class="container">
    
    
    <header>
        <% include ./partials/headerTeacher.ejs %>
    </header>
    <p id="data">
        <%=data %>
    </p>
    <ul>
        <% for(var i=0; i<courses.length; i++) {%>
            <li>
                <%=courses[i].id %>
            </li>
            <li>
                <%=courses[i].teacher %>
            </li>
            <li>
                <%=courses[i].courseInfo.name %>
            </li>
            <li>
                <%=courses[i].courseInfo.subject %>
            </li>
            <li>
                <%=courses[i].courseInfo.description %>
            </li>
            <li>
                <%=courses[i].courseInfo.costPerHour %>
            </li>
            <li>
                <%=courses[i].level %>
            </li>
            <br>
            <a href="/usun/<%=courses[i].id %>">Usuń Ten kurs (bo ssie)</a>
            <% } %>
    </ul>
    <a href="/profile">back to profile</a>
</body>
 <footer>
        <% include ./partials/footer.ejs %>
    </footer>
</html>