<!doctype html>
<html>
<head>
    <title>Your profile page</title>
</head>
<body>
    <h1>Your Page</h1>
    <a href="/logout">LOGOUT</a>

    <div>
        <%= user._id %> </br>
        <%= user.local.email %> </br>
        <%= user.local.password %> </br>
        <%= user.local.role %> </br>
        <%= user.local.city %>
    </div>
    <a href="/addcourse">Add Course</a>
</body>
</html>