<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <% include ./partials/headTeacher.ejs %>
</head>

<body class="container">

<header>
    <% include ./partials/headerTeacher.ejs %>
</header>

<h1>Add an avatar:</h1>

<div>
    <% if(user.local.avatar && user.local.avatar.data) { %>
    <img src="data:<%= user.local.avatar.contentType %>;base64,<%= user.local.avatar.data.toString('base64') %>">
    <% } else { %>
    <img src="../images/defaultAvatar.png">
    <% } %>
</div>

<form id="imageForm" action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="imageUploader"/>
    <button type="submit">Upload</button>
</form>

<h1>Edit your account:</h1>

<form action="/changeaccountTeacher" method="post">
    <div>
        <label>Name</label>
        <input type="text" name="firstName" value="<%= user.local.name %>">
    </div>
    <div>
        <label>Surname</label>
        <input type="text" name="surname" value="<%= user.local.surname %>">
    </div>
    <div>
        <label>Phone</label>
        <input type="text" name="phone" value="<%= user.local.phone %>"/>
    </div>
    <button type="button" class="toggleCities">Change cities!</button>
    <div id="changeCities" style="display: none;">
        <div>
            <label>Province</label>
            <select name="province">

            </select>
        </div>

        <div>
            <label>City</label>

            <div id="citiesCheck">

            </div>
        </div>
    </div>

    <br/>
    <section class="round-border">

        <div>
            <button type="button" href="#collapse2" class="toggle">Change password</button>

        </div>
        <div id="collapse2" style="display:none">
            <input type="password" name="password">
        </div>
    </section>
    <br>

    <button type="submit">Change</button>
</form>

<footer>
    <% include ./partials/footer.ejs %>
</footer>
</body>
<script src="/js/jquery.min.js"></script>
<script src="../scripts/teacher.js"></script>
</html>